<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:repository="http://www.springframework.org/schema/data/repository"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/data/repository http://www.springframework.org/schema/data/repository/spring-repository-1.5.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">


	<!-- 启用 annotation事务 -->
	<tx:annotation-driven order="10"
		transaction-manager="transactionManager" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${database.driverClassName}" />
		<property name="url" value="${database.url}" />
		<property name="username" value="${database.username}" />
		<property name="password" value="${database.password}" />
		<property name="defaultAutoCommit" value="false" />
		<property name="maxActive" value="${cp.maxActive}" />
		<property name="maxIdle" value="${cp.maxIdle}" />
		<property name="minIdle" value="${cp.minIdle}" />
		<property name="maxWait" value="${cp.maxWait}" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- MyBatis -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesPackage" value="com.chenfeng.school.domain.model.mybatis" />
		<property name="mapperLocations" value="classpath*:/META-INF/mybatis/*Mapper.xml" />
		
		<property name="plugins">
			<array>
				<bean class="com.github.pagehelper.PageHelper">
					<property name="properties">
						<value>
							dialect=mysql
							
					        <!-- 该参数默认为false -->
					        <!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->
					        <!-- 和startPage中的pageNum效果一样-->
					        offsetAsPageNum=false
					        <!-- 该参数默认为false -->
					        <!-- 设置为true时，使用RowBounds分页会进行count查询 -->
					        rowBoundsWithCount=false
					        <!-- 设置为true时，如果pageSize=0或者RowBounds.limit = 0就会查询出全部的结果 -->
					        <!-- （相当于没有执行分页查询，但是返回结果仍然是Page类型）-->
					        pageSizeZero=true
					        <!-- 分页参数合理化，默认false禁用 -->
					        <!-- 启用合理化时，如果pageNum<1会查询第一页，如果pageNum>pages会查询最后一页 -->
					        <!-- 禁用合理化时，如果pageNum<1或pageNum>pages会返回空数据 -->
					        reasonable=true
						</value>
					</property>
				</bean>
			</array>
		</property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage"
			value="com.chenfeng.school.domain.repository.mybatis" />
		<property name="annotationClass"
			value="com.chenfeng.school.domain.common.annotation.MyBatisRepository" />
	</bean>

</beans>
